<nav class="navbar navbar-light navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand logo p-4 h-60 d-none d-sm-block" [routerLink]="['/']">
            <img src="assets/imgs/logo-nav.png" class="align-top" alt="">
        </a>
        <button class="navbar-toggler m-3" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="nav navbar-nav ml-auto justify-content-start">
                <li class="nav-item">
                    <a [routerLink]="['/vagas']" class="nav-link waves-light">Vagas</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.franq.com.br/" fragment="fale-conosco" class="nav-link waves-light">Empresa</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.reachr.com.br/#/candidato/login" fragment="fale-conosco" class="nav-link waves-light">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>