.navbar.navbar-light.navbar-expand-lg {
    padding: 0;
}

.navbar .nav .nav-item {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    padding-top: 0rem;
    padding-left: 20px;
    text-align: right;
}

.navbar .nav .nav-item a {
    color: #1C1D24;
}

.logo img {
    height: 40px;
}