<style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');
    </style> 


<div class="container-fluid banner-principal w-100 d-none d-md-block">
    <img class="w-100 rounded" src="assets/imgs/banner-desktop.png">
</div>

<div class="container-fluid banner-principal-mobile w-100 d-sm-block d-md-none">
    <img class="w-100 rounded" src="assets/imgs/banner-mobile.png">
    <div class="card border-none bg-white mb-3">
        <div class="card-body box-shadow box-logo-mobile mx-auto align-items-center">
            <div class="logo-mobile">
                <img class="img-fluid rounded mx-auto d-block" src="assets/imgs/logo-mobile.png">
            </div>
        </div>
    </div>
</div>

<div class="container trabalhe-franq row m-auto trabalhe-franq-desk">
  <div class="card col-6 trabalhe-card">
    <div class="card-body">
    <div class="titulo-trabalhe-franq text-center p-2">
        <h1 class="m-0">Conheça a <br>
            DaCasa</h1>
    </div>
       <p class="p-2 desc-trabalhe">Somos uma uma empresa que fabrica linguiças artesanais. 
        <br><br>
        Provemos a todos nossos consumidores uma nova experiência culinária
        com as nossas linguiças artesanais de qualidade. 
        <br><br>
        Para seguirmos crescendo, buscamos
        sempre ouvir nossos clientes e prezamos sempre pela qualidade dos nossos produtos </p>
    </div>
  </div>
  <div class="col-6 trabalhe-img"> <img class="w-100 img-size img-banner-central rounded" src="assets/imgs/sobre-dacasa.png"></div>
</div>

<div class="container-fluid trabalhe-franq row m-auto trabalhe-franq-mob">
    <div class="titulo-trabalhe-franq text-center p-2">
        <h1 class="m-0">Conheça a <br>
            DaCasa</h1>
    </div>
    <div class="col-12 trabalhe-img p-0 w-100"></div>
    <div class="card col-4 trabalhe-card m-auto" >
      <div class="card-body">
        <p class="p-2 desc-trabalhe">Somos uma uma empresa que fabrica linguiças artesanais. 
            <br><br>
            Provemos a todos nossos consumidores uma nova experiência culinária
            com as nossas linguiças artesanais de qualidade. 
            <br><br>
            Para seguirmos crescendo, buscamos
            sempre ouvir nossos clientes e prezamos sempre pela qualidade dos nossos produtos </p>
      </div>
    </div>
  </div>


<div class="container-fluid my-2 p-5 d-none d-md-block sobreSecao">
    <div class="titulo-sessao-sobre text-center ">
        <h1 class="text-start p-3 m-2 fw-bold">Nossa <br> História</h1>
    </div>

    <div class="row">
        <div class="col">
            <p class="card-texto">
                A Franq Openbank é uma fintech localizada em Florianópolis (SC), criada com o objetivo de aproveitar toda a experiência de ex-bancários e permitir que eles trabalhem de forma independente, auxiliando seus clientes a tomar melhores decisões na hora de escolher um produto ou serviço financeiro.  Construímos nossa tecnologia com base em um sistema financeiro aberto, o open banking, que visa dar mais segurança de dados e liberdade de escolha aos usuários do sistema financeiro nacional. Esse formato estimula a concorrência e provoca melhorias nas condições de negócio, atendimento e experiência do usuário, sendo uma iniciativa do Banco Central do Brasil a ser implementada por completo até o final deste ano. 
                <br><br>
                Construímos nossa tecnologia com base em um sistema financeiro aberto, o open banking, que visa dar mais segurança de dados e liberdade de escolha aos usuários do sistema financeiro nacional. Esse formato estimula a concorrência e provoca melhorias nas condições de negócio, atendimento e experiência do usuário, sendo uma iniciativa do Banco Central do Brasil a ser implementada por completo até o final deste ano. 
            </p>
        </div>
    </div>
    <div class="text-center">
        <a [routerLink]="['/vagas']" class="btn btn-outline-light btn-lg font-weight-bold">Explore
            as vagas</a>
    </div>
</div>

<div class="container-fluid my-2 p-5   d-sm-block d-md-none  sobreSecao-mobile">
    <div class="titulo-sessao-sobre-mobile">
        <h1 class="text-start py-3 m-2 fw-bold">Nossa <br> História</h1>
    </div>

    <div class="row">
        <div class="col">
            <p class="card-texto">
                A Franq Openbank é uma fintech localizada em Florianópolis (SC), criada com o objetivo de aproveitar toda a experiência de ex-bancários e permitir que eles trabalhem de forma independente, auxiliando seus clientes a tomar melhores decisões na hora de escolher um produto ou serviço financeiro.  Construímos nossa tecnologia com base em um sistema financeiro aberto, o open banking, que visa dar mais segurança de dados e liberdade de escolha aos usuários do sistema financeiro nacional. Esse formato estimula a concorrência e provoca melhorias nas condições de negócio, atendimento e experiência do usuário, sendo uma iniciativa do Banco Central do Brasil a ser implementada por completo até o final deste ano. 
                <br><br>
                Construímos nossa tecnologia com base em um sistema financeiro aberto, o open banking, que visa dar mais segurança de dados e liberdade de escolha aos usuários do sistema financeiro nacional. Esse formato estimula a concorrência e provoca melhorias nas condições de negócio, atendimento e experiência do usuário, sendo uma iniciativa do Banco Central do Brasil a ser implementada por completo até o final deste ano. 
            </p>
        </div>
    </div>
    <div class="text-center">
        <a [routerLink]="['/vagas']" class="btn btn-outline-light btn-lg font-weight-bold">Explore
            as vagas</a>
    </div>
</div>








<div class="container">

</div>

<div class="container redes-sociais px-4">
    <h1 class="text-center">Siga-nos nas redes sociais</h1>
    <p class="text-center">
        <a title="Website" href="http://www.franq.com.br/" target="_blank">
            <img src="assets/imgs/globe.svg" alt="website" class="icon" />
        </a>
        <a title="Facebook" href="https://www.facebook.com/franqopenbank" target="_blank">
            <img src="assets/imgs/facebook.svg" alt="facebook" class="icon" />
        </a>
        <a title="Linkedin" href="https://www.linkedin.com/company/franqopenbank/" target="_blank">
            <img src="assets/imgs/linkedin.svg" alt="linkedin" class="icon" />
        </a>
        <a title="Instagram" href="https://www.instagram.com/franqopenbank/" target="_blank">
            <img src="assets/imgs/instagram.svg" alt="instagram" class="icon" />
        </a>
    </p>
</div>


<div class="container-fluid titulo-sessao-blog-mobile   d-sm-block d-md-none px-4">
    <h1 class="">Blog</h1>
</div>
<div class="container-fluid blog">
    <div class="titulo-sessao-blog d-none d-md-block">
        <h1 class="text-start py-3 m-2 fw-bold">Blog</h1>
    </div>
    <div class="container py-5 blogs-div">

        <p *ngIf="carregandoVagas == true" class="text-center">
            <i class="fas fa-spinner fa-spin fa-3x
                my-3"></i><br>Procurando últimos posts...
        </p>

        <!-- posts holder -->
        <div class="row">
            <div *ngFor="let post of posts" (click)="abrirPost(post)" class="col-12 col-md-4">
                <div class="card-blog">
                    <div class="card-blog-logo">
                        <img [src]="post['_embedded']['wp:featuredmedia'][0]['media_details'].sizes['medium'].source_url">
                    </div>
                    <h4 class="card-blog-title">
                        {{ post.title.rendered }}
                    </h4>
                </div>
            </div>
        </div>

        <p class="text-center my-4">
            <a class="btn btn-outline-light btn-xl" target="_blank" href="https://www.reachr.com.br/blog/">Veja
                mais
                conteúdos</a>
        </p>
    </div>
</div>